

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb

#Java 
*.class

# Package Files #
*.jar
*.war
*.ear

java/webapp/WEB-INF/lib/*

php/php_src/lib/*

