
<div class="jumbotron text-center">
    	<h2><span class="text-muted">Congrats! You've successfully</span> signed up <span class="text-muted">to Honey Comics.</span></h2>
        <h4 class="text-muted"><%= @comicsType %> comics will be delivered to your email address.</h4>
        <h3> Expect a surprise on your birthday (<%= @dob %>) :) </h3>
        <h1>Thank You!</h1>
</div>

