<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>com.chargebee.samples.common.EnvInitializer</listener-class>
    </listener>
    <servlet>
        <servlet-name>stripe_js_checkout</servlet-name>
        <servlet-class>com.chargebee.samples.StripeJsCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout_custom_field</servlet-name>
        <servlet-class>com.chargebee.samples.CustomFieldCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>custom_field_redirect_handler</servlet-name>
        <servlet-class>com.chargebee.samples.custom_field.RedirectHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>estimate_checkout</servlet-name>
        <servlet-class>com.chargebee.samples.EstimateCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>webhook_handler</servlet-name>
        <servlet-class>com.chargebee.samples.WebhookHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stripe_js_checkout</servlet-name>
        <url-pattern>/stripe_js/checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>trial_signup</servlet-name>
        <servlet-class>com.chargebee.samples.TrialSignup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>trial_signup</servlet-name>
        <url-pattern>/trial_signup/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checkout_existing</servlet-name>
        <servlet-class>com.chargebee.samples.CheckoutExisting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkout_existing</servlet-name>
        <url-pattern>/checkout_existing/checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>redirect_handler</servlet-name>
        <servlet-class>com.chargebee.samples.RedirectHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirect_handler</servlet-name>
        <url-pattern>/checkout_existing/redirect_handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect_handler</servlet-name>
        <url-pattern>/checkout_new/redirect_handler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checkout_new</servlet-name>
        <servlet-class>com.chargebee.samples.CheckoutNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkout_new</servlet-name>
        <url-pattern>/checkout_new/checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>update_card</servlet-name>
        <servlet-class>com.chargebee.samples.UpdateCard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update_card</servlet-name>
        <url-pattern>/update_card/update</url-pattern>
        <url-pattern>/update_card/redirect_handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout_custom_field</servlet-name>
        <url-pattern>/custom_field/checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checkout_two_step</servlet-name>
        <servlet-class>com.chargebee.samples.CheckoutTwoStep</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkout_two_step</servlet-name>
        <url-pattern>/checkout_two_step/first_step</url-pattern>
        <url-pattern>/checkout_two_step/redirect_handler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>error_handler</servlet-name>
        <servlet-class>com.chargebee.samples.common.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>error_handler</servlet-name>
        <url-pattern>/error_handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estimate_checkout</servlet-name>
        <url-pattern>/estimate/estimate_checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>webhook_handler</servlet-name>
        <url-pattern>/webhook_handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estimate_checkout</servlet-name>
        <url-pattern>/estimate/order_summary</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>400</error-code>
        <location>/error_pages/400.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error_pages/403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error_pages/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error_pages/500.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_handler</location>
    </error-page>
</web-app>
