RewriteEngine On  

Options -MultiViews  
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f  

RewriteRule ^plan_config$ ./php_src/PlanConfiguration.php

# stripejs mapper
RewriteRule ^stripe_js/checkout$ ./php_src/StripeJsCheckout.php

# trial signup mapper
RewriteRule ^trial_signup/signup$ ./php_src/TrialSignup.php

# checkout existing mapper
RewriteRule ^checkout_existing/checkout$ ./php_src/CheckoutExisting.php
RewriteRule ^checkout_existing/redirect_handler$ ./php_src/RedirectHandler.php

# checkout new mapper
RewriteRule ^checkout_new/checkout$ ./php_src/CheckoutNew.php
RewriteRule ^checkout_new/redirect_handler$ ./php_src/RedirectHandler.php

# update payment method url mapper
RewriteRule ^update_payment_method/$ ./update_payment_method/Index.php
RewriteRule ^update_payment_method/profile$ ./update_payment_method/Profile.php
RewriteRule ^update_payment_method/update$ ./php_src/UpdatePaymentMethod.php
RewriteRule ^update_payment_method/redirect_handler$ ./php_src/UpdatePaymentMethod.php

# two step checkout mapper
RewriteRule ^checkout_two_step/first_step$ ./php_src/CheckoutTwoStep.php
RewriteRule ^checkout_two_step/redirect_handler$ ./php_src/CheckoutTwoStep.php
RewriteRule ^checkout_two_step/thankyou$ ./checkout_two_step/Thankyou.php

# custom field mapper
RewriteRule ^custom_field/checkout$ ./php_src/CustomFieldCheckout.php
RewriteRule ^custom_field/thankyou$ ./custom_field/Thankyou.php

# estimate mapper
RewriteRule ^estimate/checkout$ ./estimate/Checkout.php
RewriteRule ^estimate/order_summary$ ./estimate/OrderSummary.php
RewriteRule ^estimate/estimate_checkout$ ./php_src/EstimateCheckout.php

#ChargeBee webhook handler
RewriteRule ^webhook_handler$ ./php_src/WebhookHandler.php

#Self Service Portal
RewriteRule ^ssp-php/login$ ./php_src/SelfServicePortal.php
RewriteRule ^ssp-php/logout$ ./php_src/SelfServicePortal.php
RewriteRule ^ssp-php/update_card$ ./php_src/SelfServicePortal.php
RewriteRule ^ssp-php/redirect_handler$ ./php_src/SelfServicePortal.php
RewriteRule ^ssp-php/subscription$ ./ssp-php/Subscription.php
RewriteRule ^ssp-php/acc_info_edit$ ./ssp-php/AccountInfoEdit.php
RewriteRule ^ssp-php/update_account_info$ ./php_src/SelfServicePortal.php
RewriteRule ^ssp-php/bill_info$ ./ssp-php/BillingInfo.php
RewriteRule ^ssp-php/update_billing_info$ ./php_src/SelfServicePortal.php
RewriteRule ^ssp-php/shipping_address_edit$ ./ssp-php/ShippingAddressEdit.php
RewriteRule ^ssp-php/update_shipping_address$ ./php_src/SelfServicePortal.php
RewriteRule ^ssp-php/subscription_cancel$ ./ssp-php/SubscriptionCancel.php
RewriteRule ^ssp-php/sub_cancel$ ./php_src/SelfServicePortal.php
RewriteRule ^ssp-php/subscription_reactivate$ ./ssp-php/SubscriptionReactivate.php
RewriteRule ^ssp-php/sub_reactivate$ ./php_src/SelfServicePortal.php


RewriteRule ^ssp-php/invoice_list$ ./ssp-php/InvoiceList.php
RewriteRule ^ssp-php/invoice_as_pdf$ ./php_src/SelfServicePortal.php


#checkout popup using iframe 
RewriteRule ^checkout_iframe/checkout ./php_src/CheckoutUsingIframe.php
RewriteRule ^checkout_iframe/redirect_handler ./php_src/CheckoutUsingIframe.php

#stripe pop up js
RewriteRule ^stripe-popup-js/checkout ./php_src/StripePopUpJs.php

#Braintree js
RewriteRule ^braintree-js/checkout ./php_src/BraintreeJs.php

#error page mapper
ErrorDocument 400  /error_pages/400.html
ErrorDocument 403  /error_pages/403.html
ErrorDocument 404  /error_pages/404.html
ErrorDocument 500  /error_pages/500.html

