<h6 class="text-center text-muted">
    <span class="text-muted">&copy; Honey Comics. All Rights Reserved.</span><br><br>
    Powered by <a href="//www.chargebee.com" target="_blank">
        <img src="/assets/images/cb-footer.png" alt="Powered by ChargeBee"></a>
</h6>
</div>
</body>
</html>